.navbar {
    overflow: hidden;
    background-color: #ddd;
    text-align: center;
    height: 53px;
    width: 100%;
}

a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 15px 9px;
    text-decoration: none;
    font-size: 13px;
}

a:hover {
    background-color: gray;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
    height: 12px;
    width: 28px;
    padding-top: 0px;
    margin-top: 10px;
    font-size: 20px;
    margin-right: 70px;
    border-radius: 5px;
}

.content {
    padding: 4px;
}

.col1 {
    display: inline;
}

a {
    margin-left: 1px;
}

.image {
    border-radius: 50%;
    margin-left: 498px;
}

.spanText {
    color: #4CAF50;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 19px;
    font-weight: 500;
}

.navStyle {
    font-size: 2px;
}