.App {
    text-align: center;
}

.TextInput {
    display: block;
    height: 42px;
    width: 288px;
    margin: auto;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border: gray 1px;
}

.TextInput .TextField {
    border-style: groove;
}

.button {
    margin-top: 10px;
    margin-bottom: 57px;
}

.container {
    margin: 350px 354px 350px 354px;
    background-color: honeydew;
    display: block;
}

.h1 {
    text-align: center;
    color: khaki;
}